.card {
  display: grid;
  grid-template-areas: 'panel-small panel-middle' 'slider      panel-middle';
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 20px 10px 20px 10px;
  color: #000;
  font-family: Garamond, serif;
  background-color: #e7e7e7;
  border: 1px solid #fff;
  box-shadow: 1px 1px 3px 0 #838383;
}
@media (max-width: 800px) {
  .card {
    grid-template-areas: 'panel-small' 'slider' 'panel-middle';
    grid-template-columns: 1fr;
  }
}
.card__panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__panel_small {
  grid-area: panel-small;
}
.card__panel_middle {
  grid-area: panel-middle;
}
.card__slider {
  grid-area: slider;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
}
.panel-row__input {
  font-family: Garamond, serif;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  font-size: 16px;
  justify-self: end;
  width: 110px;
  min-width: 50px;
  margin-left: 15px;
}
.panel {
  display: block;
  align-self: center;
  justify-self: center;
  font-size: 16px;
  max-width: 260px;
  font-family: Garamond, serif;
  color: #000;
}
.panel__row {
  margin-top: 15px;
}
.panel_size_small .panel__row {
  justify-content: center;
}
.demo-page {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 10px;
}
@media (max-width: 1200px) {
  .demo-page {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

.slider {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  border-radius: 3px;
  padding: 40px;
  box-sizing: border-box;
  user-select: none;
  font-size: 16px;
  color: #000;
  text-shadow: 1px 1px 2px #838383;
}
.slider__scale {
  position: relative;
  box-sizing: border-box;
}
.slider__scale_hidden {
  display: none;
}
.slider__scale-line {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #67bed7;
  box-shadow: 1px 1px 3px 0 #838383;
  cursor: pointer;
}
.slider__range-line {
  z-index: 1;
  position: absolute;
  border-radius: 3px;
  transition: 300ms;
  background-color: #2086c9;
  margin: 2px;
  cursor: pointer;
}
.slider__handle {
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  cursor: pointer;
  transition: 300ms;
  background-color: #000;
  border: 2px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 0 #838383;
}
.slider__handle_hidden {
  display: none;
}
.slider__scale-values {
  position: absolute;
  box-sizing: border-box;
}
.slider__scale-value {
  position: absolute;
  cursor: pointer;
}
.slider__tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 3px;
  padding-right: 5px;
  padding-left: 5px;
}
.slider__tooltip_hidden {
  display: none;
}
.slider_horizontal {
  width: 100%;
  min-width: 200px;
  height: 50px;
}
.slider_horizontal .slider__scale {
  position: relative;
  width: 100%;
  height: 10px;
  min-height: 10px;
  min-width: 200px;
}
.slider_horizontal .slider__scale-line {
  width: 100%;
  height: 10px;
}
.slider_horizontal .slider__range-line {
  width: 100%;
  height: 6px;
}
.slider_horizontal .slider__handle {
  transform: translate(-50%, -2.5px);
}
.slider_horizontal .slider__tooltip {
  bottom: 150%;
  transform: translateX(-50%);
  margin-left: 50%;
}
.slider_horizontal .slider__scale-values {
  bottom: -8px;
  width: 100%;
}
.slider_horizontal .slider__scale-value {
  transform: translateX(-50%);
}
.slider_horizontal-reverse .slider__handle {
  transform: translate(50%, -2.5px);
}
.slider_horizontal-reverse .slider__tooltip {
  bottom: 150%;
  transform: translateX(-50%);
  margin-right: 50%;
}
.slider_horizontal-reverse .slider__scale-values {
  bottom: -8px;
  width: 100%;
}
.slider_horizontal-reverse .slider__scale-value {
  transform: translateX(50%);
}
.slider_vertical {
  min-height: 250px;
  height: 100%;
  width: 50px;
}
.slider_vertical .slider__scale {
  width: 10px;
  min-width: 10px;
  height: 100%;
  min-height: 200px;
}
.slider_vertical .slider__scale-line {
  height: 100%;
  width: 10px;
}
.slider_vertical .slider__range-line {
  height: 100%;
  width: 6px;
}
.slider_vertical .slider__handle {
  transform: translateY(50%);
  margin-left: -25%;
}
.slider_vertical .slider__tooltip {
  left: 200%;
  transform: translateY(-50%);
  margin-top: 50%;
}
.slider_vertical .slider__scale-values {
  left: -15px;
  height: 100%;
}
.slider_vertical .slider__scale-value {
  transform: translate(-100%, 50%);
}
.slider_vertical-reverse .slider__handle {
  transform: translateY(-50%);
}
.slider_vertical-reverse .slider__tooltip {
  left: 200%;
  transform: translateY(-50%);
  margin-bottom: 50%;
}
.slider_vertical-reverse .slider__scale-values {
  left: -15px;
  height: 100%;
}
.slider_vertical-reverse .slider__scale-value {
  transform: translate(-100%, -50%);
}

