@import '../../styles/variables.styl'

.panel
  display block
  align-self center
  justify-self center
  font-size $font-size
  max-width 260px
  font-family Garamond, serif
  color $text-color

  &__row
    margin-top 15px
