@import '../../styles/variables.styl'

.panel-row
  display flex
  justify-content space-between
  align-items flex-end

  &__input
    font-family Garamond, serif
    padding-left 5px
    padding-right 5px
    box-sizing border-box
    font-size $font-size
    justify-self end
    width 110px
    min-width 50px
    margin-left 15px
