include panel-row
-
  const panelBig = [
    { title: "Scale minimum", name: "scaleMin" },
    { title: "Scale maximum", name: "scaleMax" },
    { title: "Scale step", name: "scaleStep"},
    { title: "Minimum", name: "min"},
    { title: "Maximum", name: "max"},
    { title: "Type", name: "type", type: "select", options: ['horizontal', 'vertical'] },
    { title: "Show tooltips", name: "areTooltipsVisible", type: 'checkbox' },
    { title: "Show scale", name: "isScaleVisible", type: 'checkbox' },
    { title: "Enable range", name: "isRange", type: 'checkbox' },
    { title: "Reverse direction", name: "isReverseDirection", type: 'checkbox' },
    { title: "Units", name: "units", type: 'text' },
  ]
doctype html
html
  head
    meta(charset = "utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="FSD 4th task slider")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    link(rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="assets/favicons/site.webmanifest")
    link(rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#5bbad5")
    title Slider demo page
  body
    main.page-wrapper
      section.slider-wrapper
        div.panel.panel_size_s
          +panel-row({ title: "Minimum", name: "min" })
          +panel-row({ title: "Maximum", name: "max" })
        div.panel.panel_size_m
          each row in panelBig
            +panel-row(row)
        div.slider(
          data-min = "-2500",
          data-max = "-2000",
          data-scale-min = "-10000",
          data-scale-max = "10000",
          data-scale-step = "1",
          data-are-tooltips-visible = "true",
          data-is-range = "true",
          data-is-scale-visible = "true",
          data-is-reverse-direction = "false",
          data-type = "horizontal",
          data-units = "Дж",
        )

      section.slider-wrapper
        div.panel.panel_size_s
          +panel-row({ title: "Minimum", name: "min" })
          +panel-row({ title: "Maximum", name: "max" })
        div.panel.panel_size_m
          each row in panelBig
            +panel-row(row)
        div.slider(
          data-min = "2",
          data-max = "30",
          data-scale-min = "0",
          data-scale-max = "38",
          data-scale-step = "1",
          data-are-tooltips-visible = "true",
          data-is-range = "false",
          data-is-scale-visible = "true",
          data-is-reverse-direction = "false",
          data-type = "vertical",
          data-units = "какаду",
        )

      section.slider-wrapper
        div.panel.panel_size_s
          +panel-row({ title: "Minimum", name: "min" })
          +panel-row({ title: "Maximum", name: "max" })
        div.panel.panel_size_m
          each row in panelBig
            +panel-row(row)
        div.slider(
          data-min = "-100000",
          data-max = "100000",
          data-scale-min = "-500000",
          data-scale-max = "500000",
          data-scale-step = "50000",
          data-are-tooltips-visible = "true",
          data-is-range = "true",
          data-is-scale-visible = "true",
          data-is-reverse-direction = "true",
          data-type = "vertical",
          data-units = "$",
        )

      section.slider-wrapper
        div.panel.panel_size_s
          +panel-row({ title: "Minimum", name: "min" })
          +panel-row({ title: "Maximum", name: "max" })
        div.panel.panel_size_m
          each row in panelBig
            +panel-row(row)
        div.slider(
          data-min = "-7000",
          data-max = "7000",
          data-scale-min = "-10000",
          data-scale-max = "10000",
          data-scale-step = "500",
          data-are-tooltips-visible = "false",
          data-is-range = "true",
          data-is-scale-visible = "true",
          data-is-reverse-direction = "false",
          data-type = "horizontal",
        )
